.registrar {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-weight: 900;
}

.navbar {
    background-color: black;
}

.titulo {
    text-align: center;
    padding-top: 10px;
    font-weight: normal;
    font-size: 30px;
}

#logo {
    width: 200px;
    height: 50px;
    margin-right: 20px;
}

body {
    background-image: url(".././assets/fondo11.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.nav-link {
    color: white !important;
}

.separadores {
    background-color: rgb(233, 155, 10);
    height: 4px;
}

#contenido {
    color: white;
    width: 300px;
}

table {
    color: white;
}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}